[submodule "build/rapidjson"]
        path = build/rapidjson
        url = https://github.com/Tencent/rapidjson
[submodule "build/miniupnp"]
        path = build/miniupnp
        url = https://github.com/monero-project/miniupnp
[submodule "build/unbound"]
        path = build/unbound
        url = https://github.com/monero-project/unbound
